<h1>Create a new Pet</h1>

<form method="post" action="/pets">
  <input type="text" name="pet[name]" id="pet_name">Pet name:</input>
  <input type="text" name="owner[id]" id="owner_id">Owner ID:</input>

<h3>Existing Owners</h3>
<% @owners.each do |owner| %>
<input type="radio" name="<%= owner.name %>" id="<%= owner.id %>" value="<%= owner.id %>"><%= owner.name %>
<% end %>
<br>

<h3>New Owners</h3>
<input type="text" name="owner[name]"

<input type="submit" value="Create Pet" id="Submit">
</form>