<h1>Create a new Pet</h1>

<form method="post" action="/pets">
  <input type = "text" name="pet_name" id="pet_name">Pet name:</input>

<h3>Existing Owners</h3>
<% @owners.each do |owner| %>
<input type="radio" name="<%= owner.name %>" id="<%= owner.id %>" value="<%= owner.id %>" 
<% end %>
</form>